.Bungkusan {
  background: url("../../assets/background-sign.svg");
  background-size: cover;
  height: 100vh;
  margin: 0 auto;
}

.Konten-Kartu {
  background-color: rgba(156, 156, 156, 0.7);
  display: flex;
  width: 50%;
  height: 100vh;
  flex-direction: column;
  align-items: center;
}

.Kartu {
  background-color: white;
  height: 50vh;
  border-radius: 20px;
  width: 379px;
  height: 492px;
}

.tombol {
  background-color: #6db600;
  color: white;
  width: 100%;
}
