.countdown-timer {
    width: 600px;
    height: 100px;
   

    font-family: "Oswald";
    font-size: 30px;

    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.countdown-timer span {
    margin-left: 5px;
    margin-right: 5px;
}

.two-numbers {
    width: 42px;
    background-color: #FF4D15;
    border-radius: 60px;
}