.flashSale-header{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 25rem;
}

.flashSale-card-container{
    display: flex;
    align-items: center;
    justify-content: center;
   
}

#flashSale-Cards{
    display: flex;
    align-items: center;
    justify-content:space-around;
    flex-wrap: wrap;
    width: 1300px;
    height: 100rem;
}