


#content{
    display: flex;
    justify-content: space-around;
}

.costumer{
    display: flex;
    justify-content: end;
    position: relative;
    top: 8rem;
}

.subscribe{
    margin-top: 10rem;
    background-color:#59BC1D ;
    display: flex;
    width: 100%;
    height: 200px;
    justify-content: space-around;
    justify-content: center;
    align-items: center;
}

.subscribe button{
    background-color:#FF4D15;
    position: relative;
    top: 5px;
}

.subscribe input{
    position: relative;
    left: 10.7rem;
}

.icon{
    justify-content: space-evenly;
   
    
}

.icon a {
    text-decoration: none;
    margin: 10px;
}