.footer {
  background-color: #59bc1d;
  color: white;
}
.icon__mail {
  font-size: 5.3rem;
  padding-top: 3rem;
}
.subscribe__desc {
  padding-top: 5rem;
}
.footer__padding {
  padding-left: 13rem !important;
  padding-bottom: 3rem;
  margin-top: 7rem;
}
.subscribe__footer .row {
  margin-right: 0 !important;
  padding-right: 0 !important;
}
.tombol__orange {
  padding: 5px 15px;
  background-color: rgb(255, 72, 0);
  outline: none;
  color: white;
}
.tombol__orange:hover {
  background-color: rgb(255, 72, 0);
  color: black;
}
.search__footer {
  border-radius: 2px !important;
}
.search__footer .btn {
  border-radius: 1px !important;
}
.follow__us {
  padding: 4rem 15rem !important;
}
.logo-footer {
  width: 180px !important;
}
.sosmed__footer .col-sm-1 {
  width: 4% !important;
}
.sosmed__footer .col-sm-2 h6 {
  text-align: center !important;
  align-items: center !important;
  margin: 0 !important;
  margin-top: 7px !important;
}
.about__company {
  text-align: justify !important;
  padding-top: 2rem !important;
}
.about__company p {
  margin-top: 1rem !important;
}
.about__dec__footer {
  margin-right: 8rem !important;
}
.about__company .col-sm-1 {
  width: 11.5% !important;
}
.des_li ul {
  list-style-type: none !important;
  margin: 0 !important;
  margin-block-start: 0em !important;
  margin-block-end: 0em !important;
  margin-inline-start: 0px !important;
  margin-inline-end: 0px !important;
  padding-inline-start: 0px !important;
  font-size: 14px;
  margin-top: 1.5rem !important;
}
.des_li ul li {
  margin-top: 0.5rem !important;
  opacity: 0.8;
}
.des_li ul li b {
  margin-top: 0.5rem !important;
  opacity: 0.9;
}

.payment__method {
  margin-top: 0.5rem !important;
}
.privacy__policy {
  background-color: rgb(218, 223, 226);
  padding: 1.5rem 15rem;
}
.aplly__filter {
  align-items: center;
  text-align: center;
}

li {
  list-style: none;
}
